<header>
	<div class="faceHead">
		<h1><a class="site-title-link" href="{{ '/' | relative_url }}">Nicholas Jennings</a></h1>
		<div class="face-container">
			<img src="{{ '/images/faces/faceClean.png' | relative_url }}" class="face" alt="">
			<img src="{{ '/images/faces/faceBeard.png' | relative_url }}" class="face active" alt="">
			<img src="{{ '/images/faces/faceVR.png' | relative_url }}" class="face" alt="">
			<img src="{{ '/images/faces/faceWiz.png' | relative_url }}" class="face" alt="">
		</div>
	</div>
	<nav>
		<a href="{{ '/#home' | relative_url }}">Home</a>
		<a href="{{ '/#research' | relative_url }}">Research</a>
		<a href="{{ '/#projects' | relative_url }}">Projects</a>
	</nav>
</header>
